.git
.github
.gitignore

.env
.env.*

env/
venv/
.venv/

__pycache__/
*.py[cod]
logs/

.pytest_cache/
.coverage
.coverage.*
htmlcov/

docs/
tests/
staticfiles/

compose.yaml
.python-version

Dockerfile
.dockerignore
